.main_text{
    margin-left: 20vw;
    margin-top: 70px;
}

.panel-primary{
    width: 600px;
    margin: 50px auto 0;
}

.panel-body{
    height: 300px;
}
.reply-form{
    position: relative;
    width: 600px;
    margin: 0 auto;
}
.btn-success{
    position: absolute;
    right: 0;
}

.btn-success{
    margin-top: 15px;
}
